    body {
        font-family: sans-serif;
        color: white;
    }
    
    * {
        margin: 0;
    }
    
    html,
    body {
        height: 100%;
    }
    
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
        z-index: -99;
    }
    
    .footer,
    .push {
        height: 4em;
    }
    
    .footer {
        background-color: rgba(0, 0, 0, 0.5);
        height: 40px;
        text-align: center;
        padding-top: 10px;
        margin-top: 16px
    }
a {
    color: white;
}
a:hover {
    color: white;
}
    /*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
    
    #full-bg {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: -moz-radial-gradient(center, ellipse cover, rgba(82, 82, 82, 1) 0%, rgba(26, 26, 26, 1) 100%);
        /* ff3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(82, 82, 82, 1)), color-stop(100%, rgba(26, 26, 26, 1)));
        /* safari4+,chrome */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(82, 82, 82, 1) 0%, rgba(26, 26, 26, 1) 100%);
        /* safari5.1+,chrome10+ */
        background: -o-radial-gradient(center, ellipse cover, rgba(82, 82, 82, 1) 0%, rgba(26, 26, 26, 1) 100%);
        /* opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, rgba(82, 82, 82, 1) 0%, rgba(26, 26, 26, 1) 100%);
        /* ie10+ */
        background: radial-gradient(ellipse at center, rgba(82, 82, 82, 1) 0%, rgba(26, 26, 26, 1) 100%);
        /* w3c */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#1A1A1A', GradientType=1);
        /* ie6-9 */
    }
    
    #gglogo {
        height: 40px;
        margin-top: 20px;
    }
    
    .header-menu a {
        color: white;
        margin-right: 40px;
    }
    
    .header-menu {
        margin-top: 30px;
    }
    
    .search-wrapper {
        background-color: rgba(255, 255, 255, 0.1);
        border: solid 1px white;
        border-radius: 5px;
        height: 40px;
        margin-top: 30px;
      
       
    }
    
    .search-wrapper img {
        float: right;
        margin-top: 4px;
        margin-right: 5px;
    }
    
    #main-search {
        border: none;
        background: none;
        height: inherit;
        width: 90%;
        padding-left: 10px;
        outline: none;
    }
    
    .divider {
        height: 1px;
        background-color: #fff;
        margin-top: -18px;
        margin-left: 20px;
    }
    /*    GAMEBOX CSS START*/
    /* checkbox */
    
    .tick {
        position: relative;
        z-index: 999;
        left: 137px;
        top: 5px;
    }
    
    .tick-overwrite {
        display: inline-block;
        position: absolute;
        left: 250px;
        top: 10px;
    }
    
    .tick-overwrite p {
        margin-top: 5px;
        margin-left: -5px;
    }
    
    .tick input[type=checkbox]:not(old),
    .tick input[type=radio]:not(old) {
        width: 2em;
        margin: 0;
        padding: 0;
        font-size: 1em;
        opacity: 0;
    }
    
    .tick input[type=checkbox]:not(old) + label,
    .tick input[type=radio]:not(old) + label {
        display: inline-block;
        margin-left: -2em;
        line-height: 1.5em;
        position: absolute;
    }
    
    .tick input[type=checkbox]:not(old) + label > span,
    .tick input[type=radio]:not(old) + label > span {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0.25em 0.5em 0.25em 0.25em;
        border: 0.0625em solid rgb(255, 255, 255);
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        vertical-align: bottom;
    }
    
    .tick input[type=checkbox]:not(old):checked + label > span,
    .tick input[type=radio]:not(old):checked + label > span {
        background-color: #252525;
    }
    
    .tick input[type=checkbox]:not(old):checked + label > span:before {
        content: '✓';
        font-size: 15px;
        display: block;
        width: 1em;
        color: #fff;
        line-height: 1.2em;
        text-align: center;
        text-shadow: 0 0 0.0714em rgb(115, 153, 77);
        font-weight: bold;
    }
    /* end of checkbox */
    
    .gamebox-wrapper {
        height: 170px;
        width: 170px;
        position: relative;
        overflow: hidden;
    }
    
    .game-icon {
        height: 170px;
        width: 170px;
        background-color: #252525;
        overflow: hidden;
        z-index: -10;
    }
    
    .game-icon img {
        height: 190px;
        position: absolute;
        top: -5px;
        left: -10px;
    }
    
    .game-icon-blur {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
    
    @keyframes icon-blur {
        from {
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);
        }
        to {
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }
    }
    
    .gamebox-wrapper:hover > .game-icon img {
        animation: icon-blur 0.3s linear;
        animation-fill-mode: forwards;
    }
    
    @keyframes overlay-content {
        from {
            top: 68%;
        }
        to {
            top: 5%;
        }
    }
    
    .gamebox-wrapper:hover > .game-info-wrapper {
        animation: overlay-content 0.3s ease-in;
        animation-fill-mode: forwards;
    }
    
    @keyframes example {
        from {
            background: -moz-linear-gradient(top, rgba(119, 119, 119, 0) 64%, rgba(119, 119, 119, 0.14) 69%, rgba(0, 0, 0, 0.45) 80%, rgba(0, 0, 0, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(119, 119, 119, 0) 64%, rgba(119, 119, 119, 0.14) 69%, rgba(0, 0, 0, 0.45) 80%, rgba(0, 0, 0, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(119, 119, 119, 0) 64%, rgba(119, 119, 119, 0.14) 69%, rgba(0, 0, 0, 0.45) 80%, rgba(0, 0, 0, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
        to {
            background: rgba(0, 0, 0, 0.7);
        }
    }
    
    .bottom-gradient {
        position: absolute;
        top: 0px;
        height: 170px;
        width: 170px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+68,000000+100&0+55,0.7+79,1+100,1+100 */
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.38) 68%, rgba(0, 0, 0, 0.7) 79%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.38) 68%, rgba(0, 0, 0, 0.7) 79%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.38) 68%, rgba(0, 0, 0, 0.7) 79%, rgba(0, 0, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
        z-index: 10;
    }
    
    .gamebox-wrapper:hover > .bottom-gradient {
        /* Toggle our animation play state to running when we are hovering over our sticker */
        animation: example 0.3s linear;
        animation-fill-mode: forwards;
    }
    
    .game-info-wrapper {
        position: absolute;
        top: 75%;
        margin-left: 7px;
        overflow: hidden;
        z-index: 11;
    }
    
    .game-name {
        margin-bottom: 0px;
    }
    
    .game-rating {
        background-color: forestgreen;
        padding: 2px;
        border-radius: 2px;
        margin-left: 5px;
    }
    
    .game-downloads {
        font-size: 11px;
        margin-top: 5px;
    }
    
    .game-daubar {
        height: 25px;
    }
    
    .game-genre {
        font-size: 11px;
        margin-top: 20px
    }
    
    .game-genre span {
        color: #252525;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 2px;
        padding: 2px;
        border-radius: 3px;
        font-size: 10px;
    }
    
    .dau-wrapper {
        margin-top: 20px;
    }
    
    .dau-heading {
        float: left;
        margin-right: 4px;
        font-size: 11px;
    }
    
    .progress-bar-warning {
        background-color: rgba(255, 255, 255, 0.3);
        border-right-width: 3px;
        border-right-color: white;
        border-right-style: solid;
    }
    
    .progress {
        background-image: url(images/daubar2.png);
        background-size: cover;
        border-radius: 0px;
        height: 11px;
    }
    /*    GAMEBOX CSS END*/
    
    .landing-games-display-heading {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    
    .landing-games-display-heading h5 {
        font-weight: 600;
    }
    
    .landing-page-games {
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    /* Modal css */
    
    body.modal-open .container {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
    
    #myModal {
        margin-top: 10%;
        color: #252525;
    }
    
    @media screen and (min-width: 768px) {
        .modal-dialog-mobile {
            width: 25%;
            /* either % (e.g. 60%) or px (400px) */
        }
    }
    
    .col-centered {
        float: none;
        margin: 0 auto;
    }
    
    .login-btn {
        margin-bottom: 10px;
    }
    /*    Search options CSS*/
    
    .search-options-wrapper {
        background-color: none;
        border: solid 1px white;
        border-top-width: 0px !important;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: 40px;
        margin-top: -1px;
        margin-bottom: 50px;
    }
    /*    Search options CSS*/
    
    .search-options-wrapper {
        background-color: rgba(0, 0, 0, 0.1);
        border: solid 1px white;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: 40px;
        margin-top: -1px;
    }
    
    .dropdown-heading {
        margin-left: 40px;
        margin-top: 2px;
    }
    
    .rolldown {
        background-color: rgba(0, 0, 0, 0.1);
        border: solid 1px white;
        border-radius: 5px;
        border-top-width: 0px !important;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: 0px;
        margin-bottom: 50px;
        margin-left: -110px;
        width: 150px;
        margin-top: 39px;
        position: absolute;
        visibility: hidden;
        overflow: hidden;
        transition-property: height;
        transition: 0.2s ease-in;
    }
    
    .dropdown-wrapper {
        display: inline-flex;
        height: 39px;
    }
    
    .sub-search {
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        border-radius: 3px;
        width: 135px;
        margin-left: 6px;
        margin-top: 7px;
        padding-left: 4px;
    }
    
    .sub-search::-webkit-input-placeholder {
        color: #fff;
    }
    
    .sub-search::-moz-placeholder {
        color: #fff;
    }
    
    .rolldown ul {
        padding: 0;
        padding-left: 10px;
        padding-top: 5px;
        list-style-type: none;
    }
    
    .rolldown li {
        padding-top: 5px;
    }
    
    @keyframes dropdown-submenu {
        from {
            height: 0px;
        }
        to {
            height: 10em;
        }
    }
    
    .dropdown-wrapper:hover .rolldown {
        animation: dropdown-submenu 0.2s ease-in;
        animation-fill-mode: forwards;
        visibility: visible;
    }
    
    .dropdown-wrapper:hover .text-shadow-selector {
        text-shadow: 0px 0px 6px #000;
    }
    
    .dropdown-wrapper a {
        color: #fff;
        text-decoration: none;
    }
    
    .dropdown-wrapper a:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    
    .dropdown-wrapper li:hover {
        text-shadow: 0px 0px 6px #000;
    }
    
    .col-centered {
        float: none;
        margin: 0 auto;
    }
    
    .search-options-wrapper {
        display: none;
    }
    /* game info page styling */
    
    #full-bg {
        z-index: -10;
        position: fixed;
    }
    
    .header-gi {
        background-color: rgba(0, 0, 0, 0.2);
        height: 60px;
        width: 100%;
    }
    
    .logo-gi {
        height: 40px;
        margin-top: 10px;
    }
    
    .main-gi {
        height: 75px;
        background-color: rgba(0, 0, 0, 0.4);
        margin-top: 20px !important;
        margin-bottom: 25px !important;
        width: 720px;
        margin: 0 auto;
        position: relative;
    }
    
    .main-gi img {
        height: 60px;
        margin-top: 8px;
        margin-left: 8px;
        float: left;
    }
    
    .main-gi h4 {
        display: inline-block;
        margin-left: 10px;
        margin-top: 15px;
    }
    
    .main-gi p {
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
    }
    
    .main-gi span {
        margin-left: 3px;
        font-size: 15px;
    }
    
    .extra-info {
        position: absolute;
        margin-left: 70px;
    }
    /*GG Rating progress */
    
    .circle {
        float: right;
        width: 100px;
        margin-bottom: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 1.2;
        margin-top: 8px
    }
    
    .circle canvas {
        vertical-align: top;
    }
    
    .circle strong {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 0px;
        font-size: 20px;
    }
    
    .circle strong i {
        font-style: normal;
        font-size: 0.6em;
        font-weight: normal;
    }
    
    .circle span {
        display: block;
        color: #aaa;
        margin-top: 12px;
    }
    /* Image carousel*/
    
    #carousel {
        width: 800px;
        height: 430px;
        display: relative;
        margin: 0 auto;
        margin-top: -20px;
    }
    
    #carousel img {
        display: hidden;
        /* hide images until carousel prepares them */
        cursor: pointer;
        /* not needed if you wrap carousel items in links */
        width: 720px;
    }
    
    .genre-wrapper {
        display: inline-block;
    }
    
    .tags-wrapper {
        display: inline-block;
        margin-left: 20px;
    }
    
    .container-gt {
        width: 720px;
        margin: 0 auto;
    }
    
    .container-gt span {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        padding: 4px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .store-icons {
        float: right;
    }
    
    .store-icons img {
        margin-left: 7px;
    }
    
    .dau-bar-heading {
        margin: 0 auto;
        width: 900px;
    }
    
    ..dau-bar-heading h4 {
        float: left;
    }
    
    .dau-bar-container {
        margin: 0 auto;
        width: 900px;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .flexy-grid {
        margin-top: -65px;
        height: 150px;
    }
    
    .dem-container {
        margin: 0 auto;
        margin-top: 20px;
        width: 900px;
    }
    
    .dem-bg {
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 900px;
        height: 200px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .dem-bg img {
        margin-top: 25px;
        margin-left: 40px;
    }
    
    .prevbrand-bg {
        background-color: rgba(0, 0, 0, 0.5);
        height: 130px;
        width: 435px;
        margin-left: 23px;
        margin-top: 10px;
    }
    
    .prevbrand-heading {
        margin-left: 23px;
    }
    
    .msb-bg {
        background-color: rgba(0, 0, 0, 0.5);
        height: 130px;
        width: 435px;
        margin-top: 10px;
    }
    
    .brand {
        display: inline-block;
        margin-left: 70px;
        margin-top: 30px;
        text-align: center;
    }
    
    .brand p {
        margin-top: 10px;
    }
    
    .msb-icon {
        display: inline-block;
        margin-left: 55px;
        margin-top: 30px;
        text-align: center;
    }
    
    .msb-icon p {
        margin-top: 10px;
    }
    
    .geo-container {
        margin: 0 auto;
        margin-top: 20px;
        width: 900px;
    }
    
    .geo-bg {
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 900px;
        height: 380px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .geo-bg img {
        margin-top: 25px;
        margin-left: 40px;
    }
    
    .top-countries {
        display: inline-block;
        margin-left: 50px;
    }
    
    .targeting-container {
        margin: 0 auto;
        margin-top: 20px;
        width: 900px;
    }
    
    .targeting-bg {
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 900px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .targeting-bg p {
        display: inline-block;
        margin-left: 13px;
        font-size: 17px;
    }
    
    .geo {
        display: inline-block;
        margin-left: 180px;
        margin-top: 23px;
    }
    
    .appo {
        display: inline-block;
        margin-left: 170px;
    }
    
    .book-btn {
        background-color: #ce1f30;
        height: 50px;
        width: 170px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
        padding-top: 13px;
    }
    
    .rating {
        position: absolute;
        right: 100px;
        top: 27px;
    }
    
    .gg-rating {}